<h1>Upcoming episodes</h1>

<div class="page-header btn-toolbar" role="toolbar">
  <div class="btn-group" role="group" aria-label="Account pages">
    <%=	link_to "Upcoming", { :controller => :account, :action => :index }, { :class => "btn btn-primary" } %>
    <%=	link_to "Subscriptions", { :controller => :account, :action => :subscriptions }, { :class => "btn btn-default" } %>
    <%=	link_to "Settings", edit_user_registration_path, { :class => "btn btn-default" } %>
  </div>
</div>

<div>
  <table class="table table-striped">
	<thead>
		<tr>
			<th>Series title</th>
			<th>Episode title</th>
			<th>Air date</th>
		</tr>
	</thead>
	<% @upcoming.each do |episode| %>
		<tr>
			<td><%= link_to episode[0], controller: "series", action: "show", seriesid: episode[3] %></td>
			<td><%= episode[2] ? episode[2] : "TBA" %></td>
			<td><%= episode[1] ? episode[1].strftime('%A, %B %-d, %Y') : "TBA" %></td>
		</tr>
	<% end %>
</table>
</div>
