<h1>Subscribed TV shows</h1>

<div class="page-header btn-toolbar" role="toolbar">
  <div class="btn-group" role="group" aria-label="Account pages">
    <%=	link_to "Upcoming", { :controller => :account, :action => :index }, { :class => "btn btn-default" } %>
    <%=	link_to "Subscriptions", { :controller => :account, :action => :subscriptions }, { :class => "btn btn-primary" } %>
    <%=	link_to "Settings", edit_user_registration_path, { :class => "btn btn-default" } %>
  </div>
</div>

<div class="panel-group">
  <% @subscribed_series.each do |resultItem| %>
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title pull-left"><%= link_to resultItem.seriesname, controller: "series", action: "show", seriesid: resultItem.seriesid %></h3>
          <div class="pull-right">
            <%= link_to "Unsubscribe", :controller => :series, :action => :unsubscribe %>
          </div>
        </div>
        <% if resultItem.description && resultItem.description.class == String %>
            <div class="panel-body">
              <% if resultItem.description.length > 200 %>
                  <%= resultItem.description.index(/\s/, 200) ? resultItem.description[0, resultItem.description.index(/\s/, 200)].strip + '...' : resultItem.description.strip %>
              <% else %>
                  <%= resultItem.description.strip %>
              <% end %>
            </div>
        <% end %>
      </div>
  <% end %>
</div>
