<h2>Search Results for &quot;<%= @query %>&quot;</h2>

<div class="list-group">
  <% @results.each do |resultItem| %>
      <%= link_to({ controller: "series", action: "show", seriesid: resultItem.seriesid }, class: "list-group-item") do %>
        <span class="badge"><%= resultItem.language %></span>
        <h4 class="list-group-item-heading"><%= resultItem.seriesname %></h4>
        <% unless resultItem.aliasnames.empty? %>
            <h5 class="list-group-item-heading"><em><%= resultItem.aliasnames.join(", ") %></em></h5>
        <% end %>
        <% if resultItem.overview %>
          <p class="list-group-item-text">
            <% if resultItem.overview.length > 200 %>
              <%= resultItem.overview.index(/\s/, 200) ? resultItem.overview[0, resultItem.overview.index(/\s/, 200)].strip + '...' : resultItem.overview.strip %>
            <% else %>
              <%= resultItem.overview.strip %>
            <% end %>
          </p>
        <% end %>
      <% end %>
  <% end %>
</div>
