<div class="page-header">
  <%= image_tag(@result.full_series_record.bannerpath_full, :class => "center-block", alt: @result.full_series_record.seriesname) %>
</div>

<h3>Actors</h3>
<ul class="list-group">
  <% @result.actors.each do |a| %>
  <li class="list-group-item">
    <div class="media-left">
      <%= image_tag(a.image_path_full, :height => 70, :width => 50) %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= a.name %><h4>
      <%= a.role %>
    </div>
  </li>
  <% end %>
</ul>

<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Genres</h3>
  </div>

  <ul class="list-group">
  <% @result.full_series_record.genres.each do |genre| %>
    <li class="list-group-item"><%= genre %></li>
  <% end %>
  </ul>
</div>

