<!DOCTYPE html>
<html>
<head>
  <title>Team5</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <ul class="nav nav-tabs">
    <li><%= link_to "Home", :controller => "home", :action => "index" %></li>
    <li><%= link_to "About", :controller => "home", :action => "about" %></li>
    <li class="navbar-text">Login</li>
  </ul>

  <%= yield %>
  <hr />
  <footer>
    <p>&copy; <%= Date.today.year %> Inf-2900 - Team 5 - Digital Entertainment Tracker</p>
  </footer>
</div>

</body>
</html>
