<!DOCTYPE html>
<html>
<head>
  <title>Team5</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= auto_discovery_link_tag(:rss, "localhost:3000") %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Home", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% if current_user %>
            <li><%=	link_to "Account", '/account/index' %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <li><%= link_to "RSS Feed", feed_path %></li>
        <% end %>
      </ul>
      <div class="navbar-right">
        <%= form_tag('/series/search', { :method => :get, :class => "navbar-form", :role => "search" }) do %>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search TV Show" id="query" name="query" />
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default" aria-label="Search"><span class="glyphicon glyphicon-search"></span></button>
            </span>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container body-content">
  <%= yield %>
  <hr />
  <footer>
    <p>&copy; <%= Date.today.year %> - Digital Entertainment Tracker - Inf-2900 - Team5 - <%= link_to "About", :controller => "home", :action => "about" %></p>
  </footer>
</div>

</body>
</html>